@import url('https://fonts.googleapis.com/css?family=Roboto');
$slate-blue: #5053D0;
$gold: #C3924A;
$ruby: #ff0a03;
$grey: #BFBFBF;
$grey2: #989797;
$grey3: #AAAAAA;

$primary: $slate-blue;

$my-warning: #FF5555;

.bg-slate-blue {
  background: #ff0a03;
}

.bg-ruby {
  background: $ruby;
}

$light: #EBEBEB;


$font-family-base: 'Roboto', sans-serif;

body {
  font-family: $font-family-base;
}

$theme-colors: (
        "primary": $gold,
        "success": $slate-blue,
        "secondary": $grey
);

@import "node_modules/bootstrap/scss/bootstrap";

.btn {
  color: white;
  border-radius: 10px;
}

.btn.disabled {
  color: white;
  border-radius: 10px;
}

::placeholder {
  color: $grey2;
}

.form-control {
  border-color: $grey3;
}

.border-round {
  border-radius: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-100 {
  z-index: 100;
}


@keyframes slideInFromTop {
  0% {
    max-height: 0px
  }
  100% {
    max-height: 600px;
  }
}

//.slide-in {
//  /* This section calls the slideInFromLeft animation we defined above */
//  animation: 2s ease 0s 1 slideInFromTop;
//  overflow: hidden;
//}

body {
  background-color: #F4F4F4;
}

.w-10 {
  width: 10%;
}

.logo-small {
  width: 100px;
}
